brown = #655643
red = #BF4D28
teal = #80BCA3
sand = #F6F7BD
yorange = #E6AC27


header
	text-align: center
	background-color:  red
	position: fixed
	width: 100%
	top: 0px
	height: 300px

	h3
		position: absolute
		color: sand
		font-size: 50px
		top: 50%
		left: 50%
		text-transform: uppercase
		width: 100%
		transform: translate(-50%, -50%)
