brown = #655643
red = #BF4D28
teal = #80BCA3
sand = #F6F7BD
yorange = #E6AC27



.double-circle-bump
	position: relative

	&:before, &:after
		content: ''
		position: absolute
		height: 25px
		width: 25px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		border-radius: 25px

	&:before
		background: brown
		animation: before-circle-bump 2s infinite
		animation-timing-function: cubic-bezier(.56,.44,.48,.92)


	&:after
		background: red
		animation: after-circle-bump 2s infinite
		animation-timing-function: cubic-bezier(.56,.44,.48,.92)




@keyframes before-circle-bump {
	0% { transform: translateX(0%)  }
	43% {  transform:  rotate(0deg) translateX(-200%) rotate(0deg)}
	67% { transform: rotate(180deg) translateX(-200%) rotate(180deg)}
	100% { transform: translateX(0%)}

}

@keyframes after-circle-bump {
	0% { transform: translateX(0%)  }
	35% {  transform:  rotate(0deg) translateX(200%) rotate(0deg)}
	48% { transform: rotate(180deg) translateX(200%) rotate(180deg)}
	100% { transform: translateX(0%)}
}





