brown = #655643
red = #BF4D28
teal = #80BCA3
sand = #F6F7BD
yorange = #E6AC27





.double-circle-revolve-in
	position: relative

	&:before, &:after
		content: ''
		position: absolute
		height: 25px
		width: 25px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		border-radius: 25px

	&:before
		background: brown
		animation: before-circle-revolve-in 2s ease-in-out infinite
	&:after
		background: red
		animation: after-circle-revolve-in 2s ease-in-out infinite


@keyframes before-circle-revolve-in {
	0% { transform: translateX(0%)  }
	40% {  transform:  rotate(0deg) translateX(-200%) rotate(0deg)}
	80% { transform: rotate(360deg) translateX(-10%) rotate(360deg)}
	100% { transform: translateX(0%)}

}

@keyframes after-circle-revolve-in {
	0% { transform: translateX(0%)  }
	40% {  transform:  rotate(0deg) translateX(200%) rotate(0deg)}
	80% { transform: rotate(360deg) translateX(100%) rotate(360deg)}
	100% { transform: translateX(0%)}
}

